<div class="wrapper">
    <section class="grid-category">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="box-title no-border">
                        <div class="inner">
                            <h3 class="section-title">
                                <span>Browse by</span> Category</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-2 col-sm-3 col-xs-6 f-category wow fadeIn animated" data-wow-delay="0s" style="visibility: visible;-webkit-animation-delay: 0s; -moz-animation-delay: 0s; animation-delay: 0s;">
                        <a routerLink="/automobiles/products">
                            <div class="icon">
                                <i class="fa fa-car"></i>
                            </div>
                            <h6>Automobiles</h6>
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-6 f-category wow fadeIn animated" data-wow-delay="0.2s" style="visibility: visible;-webkit-animation-delay: 0.2s; -moz-animation-delay: 0.2s; animation-delay: 0.2s;">
                        <a routerLink="/Laptops/products">
                            <div class="icon">
                                <i class="fa fa-laptop"></i>
                            </div>
                            <h6>Laptops</h6>
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-6 f-category wow fadeIn animated" data-wow-delay="0.4s" style="visibility: visible;-webkit-animation-delay: 0.4s; -moz-animation-delay: 0.4s; animation-delay: 0.4s;">
                        <a routerLink="/Mobiles/products">
                            <div class="icon">
                                <i class="fa fa-mobile"></i>
                            </div>
                            <h6>Mobiles</h6>
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-6 f-category wow fadeIn animated" data-wow-delay="0.6s" style="visibility: visible;-webkit-animation-delay: 0.6s; -moz-animation-delay: 0.6s; animation-delay: 0.6s;">
                        <a routerLink="/Electronics/products">
                            <div class="icon">
                                <i class="fa fa-headphones"></i>
                            </div>
                            <h6>Electronics</h6>
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-6 f-category wow fadeIn animated" data-wow-delay="0.8s" style="visibility: visible;-webkit-animation-delay: 0.8s; -moz-animation-delay: 0.8s; animation-delay: 0.8s;">
                        <a routerLink="/Computer/products">
                            <div class="icon">
                                <i class="fa fa-tv"></i>
                            </div>
                            <h6>Computer</h6>
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-6 f-category wow fadeIn animated" data-wow-delay="1s" style="visibility: visible;-webkit-animation-delay: 1s; -moz-animation-delay: 1s; animation-delay: 1s;">
                        <a routerLink="/RealEstate/products">
                            <div class="icon">
                                <i class="fa fa-home"></i>
                            </div>
                            <h6>Real Estate</h6>
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-6 f-category wow fadeIn animated" data-wow-delay="1.2s" style="visibility: visible;-webkit-animation-delay: 1.2s; -moz-animation-delay: 1.2s; animation-delay: 1.2s;">
                        <a routerLink="/Education/products">
                            <div class="icon">
                                <i class="fa fa-graduation-cap"></i>
                            </div>
                            <h6>Education</h6>
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-6 f-category wow fadeIn animated" data-wow-delay="1.4s" style="visibility: visible;-webkit-animation-delay: 1.4s; -moz-animation-delay: 1.4s; animation-delay: 1.4s;">
                        <a routerLink="/Cameras/products">
                            <div class="icon">
                                <i class="fa fa-camera"></i>
                            </div>
                            <h6>Cameras</h6>
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-6 f-category  wow fadeIn animated" data-wow-delay="1.6s" style="visibility: visible;-webkit-animation-delay: 1.6s; -moz-animation-delay: 1.6s; animation-delay: 1.6s;">
                        <a routerLink="/Fashion/products">
                            <div class="icon">
                                <i class="fa fa-female"></i>
                            </div>
                            <h6>Fashion &amp; Beauty</h6>
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-6 f-category wow fadeIn animated" data-wow-delay="1.8s" style="visibility: visible;-webkit-animation-delay: 1.8s; -moz-animation-delay: 1.8s; animation-delay: 1.8s;">
                        <a routerLink="/Matrimony/products">
                            <div class="icon">
                                <i class="fa fa-heart"></i>
                            </div>
                            <h6>Matrimony</h6>
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-6 f-category wow fadeIn animated" data-wow-delay="2s" style="visibility: visible;-webkit-animation-delay: 2s; -moz-animation-delay: 2s; animation-delay: 2s;">
                        <a routerLink="/Jobs/products">
                            <div class="icon">
                                <i class="fa fa-briefcase"></i>
                            </div>
                            <h6>Jobs</h6>
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-6 f-category wow fadeIn animated" data-wow-delay="2.2s" style="visibility: visible;-webkit-animation-delay: 2.2s; -moz-animation-delay: 2.2s; animation-delay: 2.2s;">
                        <a routerLink="/Services/products">
                            <div class="icon">
                                <i class="fa fa-leaf"></i>
                            </div>
                            <h6>Services</h6>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
  </div>