<div id="hero-area">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-12 col-xs-12 text-center">
          <div class="contents">
            <h1 class="head-title">Welcome to
              <span class="year">ClassiX</span>
            </h1>
            <p>Buy And Sell Everything From Used Cars To Mobile Phones And Computers,
              <br> Or Search For Property, Jobs And More</p>


            <app-search></app-search>
          </div>
        </div>
      </div>
    </div>
  </div>

<app-category></app-category>