<section id="content">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
        <div class="page-login-form box">
          <h3>
            Register
          </h3>
          <form name="form" class="login-form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
            <div class="form-group">
              <div class="input-icon">
                <i class="icon fa fa-user"></i>
                <input type="text" class="form-control" placeholder="user name" name="name" [(ngModel)]="model.name" #name="ngModel"
                  [ngClass]="{ 'is-invalid': f.submitted && name.invalid }" required>
              </div>
              <div *ngIf="f.submitted && name.invalid" class="invalid-feedback">
                <div *ngIf="name.errors.required" style="color:red">Name is required</div>
              </div>
            </div>
            <div class="form-group">
                <div class="input-icon">
                  <i class="icon fa fa-user"></i>
                  <input type="text" class="form-control" placeholder="Mobile number" name="mobileno" [(ngModel)]="model.mobileno" #mobileno="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted && mobileno.invalid }" required>
                </div>
                <div *ngIf="f.submitted && mobileno.invalid" class="invalid-feedback">
                  <div *ngIf="mobileno.errors.required" style="color:red">Mobile is required</div>
                </div>
              </div>
            <div class="form-group">
              <div class="input-icon">
                <i class="icon fa fa-envelope"></i>
                <input type="text" placeholder="Email address" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel"
                  [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required email />
              </div>

              <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                <div *ngIf="email.errors.required" style="color:red">Email is required</div>
                <div *ngIf="email.errors.email" style="color:red">Email must be a valid email address</div>
              </div>
            </div>
            <div class="form-group">
              <div class="input-icon">
                <i class="icon fa fa-unlock-alt"></i>
                <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" [ngClass]="{ 'is-invalid': f.submitted && password.invalid }"
                  required minlength="6" placeholder="password" />
              </div>

              <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
                <div *ngIf="password.errors.required" style="color:red">Password is required</div>
                <div *ngIf="password.errors.minlength" style="color:red">Password must be at least 6 characters</div>
              </div>
            </div>
            <div class="form-group">
              <button class="btn btn-primary">Register</button>
            </div>
          </form>


        </div>

      </div>
    </div>
  </div>
</section>